<h1>Find the best flight for you!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Fill in the details to seek the best flight!</h3>

    <%= form_tag(root_path, method: :get) do %>

      <% options = options_from_collection_for_select(@airports, 'id', 'name') %>

      <%= label_tag :from_airport_id, "From: " %>
      <%= select_tag :all_val, options %>

      <%= label_tag :to_airport_id, "To " %>
      <%= select_tag :all_val, options %><br>

      <%= label_tag :date , "Date of Flight" %>
      <%= select_tag "event_date",
      options_from_collection_for_select(@flights, 'date', :event_date_formatted) %><br>

      <%= label_tag :quantity, "No. of passengers" %>
      <%= select_tag :quantity, options_for_select([[1,1], [2,2], [3,3], [4,4]]) %><br>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
