<h1>Find the best flight for you!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Fill in the details to seek the best flight!</h3>

    <%= form_tag(root_path, method: :get) do %>

      <%# options = options_from_collection_for_select(@airports, 'id', 'name') %>
      <%= hidden_field_tag :search %>

      <%= label_tag :from_airport, "From: " %>
      <%= select_tag :from_airport, options_for_select(@airport_names, params[:from_airport]) %>

      <%= label_tag :to_airport, "To " %>
      <%= select_tag :to_airport, options_for_select(@airport_names, params[:to_airport]) %><br>

      <%= label_tag :date , "Date of Flight" %>
      <%= select_tag :date, options_for_select(@flight_dates, params[:date]) %><br>

      <%= label_tag :quantity, "No. of passengers" %>
      <%= select_tag :quantity, options_for_select([[1,1], [2,2], [3,3], [4,4]]) %><br>

      <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<% if params[:search] %>
  <h2><%= params[:date].to_date %></h2>
  <h2>Flights Available:</h2>
    <% if @results.empty? %>
      <p>None!</p>
    <% else %>
      <%= form_tag(new_booking_path, method: :get) do %>
        <%= hidden_field_tag :quantity, params[:quantity] %>
        <table>
          <tr>
            <th>Flight ID | </th>
            <th>From Airport | </th>
            <th>To Airport | </th>
            <th>Duration | </th>
            <th>Select flight</th>
          </tr>

          <% @results.each do |r| %>
            <tr>
              <td><%= r.id %></td>
              <td><%= r.from_airport.name %></td>
              <td><%= r.to_airport.name %></td>
              <td><%= "#{r.duration}" %></td>
              <td><%= radio_button_tag 'r.id', r.id %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <%= submit_tag "Select flight", class: "btn btn-primary" %>
      <% end %>
    <% end %>


<% end %>
